@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


select{
  font-size: 1em;
  padding: 0.5em 0.625em;
  background-color: #383e72;
  color: white;
  /* appearance: none; */
  border: 0;
  width: 11em;
  position: relative;
  /* width: 12.5em; */
  border: none;
}

.custom-select{
 position: relative;
 /* display: flex; */
 width: 11em;
 /* margin-bottom: 1em; */
 margin-left: 1%;
 border: none;
}
.custom-arrow{
  position: absolute;
  top:0;
  right: 0;
  display:inline;
  background: #6c75c7;
  height: 2.2em;
  width: 2em;
  pointer-events: none;
}
.custom-arrow::before,
.custom-arrow::after{
  --size: 0.35em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left:50%;
  transform: translate(-50%, -50%)
}
.custom-arrow::before{
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid white;
  top:35%;
  
}
.custom-arrow::after{
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
  top:65%;
}
.options{
  background-color: white;
  color: #383e72;
  font:bold;
  border: none;
}