.item {
  /* border: 2px solid blue; */
  padding-bottom: 5px;
  width: 13.625em;
  height: 19.5em;
  /* background-color: rgb(187, 200, 214); */
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  -webkit-box-shadow: 0.8125rem 0.75rem 0.8125rem 0rem rgba(0,0,0,0.46); 
box-shadow: 0.8125rem 0.75rem 0.8125rem 0rem rgba(0,0,0,0.46);
}

.item:hover {
  /* transform: translateY(-5px); */
  background-color: rgb(150, 198, 218);
  -webkit-box-shadow: 0.8125rem 0.75rem 0.8125rem 0rem rgba(0,0,0,0.46); 
box-shadow: 0.8125rem 0.75rem 0.8125rem 0rem rgba(0,0,0,0.46);
}

.image img {
  height: 15.8em;
  width: 12.625em;
  /* width: 12.5em; */
  /* width: 14.625em; */
  object-fit:fill;
}

.item .title {
  width: 11.625em;;
  font-weight: bold;
  font-size: 1em; 
  color: rgb(12, 12, 133);
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  text-align: center;
  padding-bottom: 5px;
  
  
}

.autor {
  width: 12.5em;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space:pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  /* font-weight: bold; */
  justify-self: center;
  text-align: center;
}
