.all {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 45.25em; */
}

.imageDetail {
  /* border: 2px solid red; */
  height: 35.625em;
  width:auto;
  object-fit: fill;
  padding: 2.1875em;
  /* width: 30%; */
 
}

.rightSide {
  /* border: 2px solid red; */
  height: 49.375em;
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
  padding-left: 1.5625em;
  padding-right: 0.625em;
}
.data {
  /* border: 2px solid red; */
  height: 47.5em;
  display: flex;
  flex-direction: column;
  
}

.titleBook {
  /* border: 2px solid red; */
  padding-top: 1em;
  padding-bottom: 2em;
  font-family: cursive;
}
.autorBook {
  /* border: 2px solid red; */
  color: green;
  padding-bottom: 1.25em;
}
.detalles {
  /* border: 2px solid red; */
  width: 100%;
  color: #404baf;
  margin-top: 1.25em;
  border-bottom: 1px solid gray;
}
.contentBook {
  
  max-height: 18.75em;
  padding-top: 0.625em;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(143, 145, 153) white;
  line-height :1.6em;
}
.contentBook::-webkit-scrollbar {
  width: 0.625em;
}

.contentBook::-webkit-scrollbar-track {
  background: white;
}

.contentBook::-webkit-scrollbar-thumb {
  background-color: rgb(143, 145, 153);
}


.infoTitle {
  text-decoration: underline;
  width: 3.125em;
  display: inline-block;
  padding-right: 0.9375em;
}

.categContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.categ {
  color: white;
  background-color:#404baf ;
  font-size: 1.125em;
  margin-top: 0.3125em;
  padding: 5px;
  /* display: list-item; */
  /* list-style-type:disc;
  list-style-position: inside; */

}

.link {
  color: green;
  font-size: 1.1em;
  margin-top: auto;
  padding-bottom: 1.25em;
}

.volver {
  width: auto;
  padding: 0.9375em;
  border: 2px solid #4a5299;
  color: #4a5299;
  align-self: center;
  /* margin-top: 1%; */
  font-size: 1.125em;
  font-weight: bold;
}


@media (max-width: 700px) {
  .all {
    flex-direction: column;  
    justify-content: center;  
  }
  .imageDetail {
    padding:5px;
    width:auto;
  }
  .rightSide{
    border:none;
  }
}