.containerSearch {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: nowrap;
}

.formSearch{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.inputSearch {
  /* width: 22em; */
  padding-left: 3.125em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1.125em;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
  border: 0;
  outline: none;
  margin-right: 1%;

  background-image: url("../../img/search.png");
  background-size: 1.875em 1.875em;
  background-repeat: no-repeat;
  background-position-x: 0.625em;
  background-position-y: center;
}

.buttonSearch {
  
  border: 0;
  border: 2px solid white;
  border-radius: 15px;
  padding: 0.5em;
  
  background-color: #619ac8;
  color: white;
  font-size: 1.25em;
  font-family: "Raleway", sans-serif;
  margin-right: 1.25em;
  text-align: center;
  
}

.buttonSearch:hover {
  background-color: rgb(221, 86, 86);
  cursor: pointer;
}


